.container {
    display: flex;
    flex-direction: column;
    padding-top: 4em; 
    align-items: center;
    background:$background_color;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
