
.dropdown{
    width: 30%;
}
.selected{
    display: flex;
    align-items: center;
    height: 3em;
    background-color: white;
    padding: 2%;
    color:  $primary_black;
    font-size: 1rem;
    border-radius: 15px;
}

.options{
    transition: all 2s ease-in-out;
    background: white;
    width: 26%;
    margin-top: .5em;
    border-radius:15px;
    padding: 2%; 

    div {
        height: 40px;
    }    
    
}

.visible{
    position: absolute;
    display: block;
    animation: fadein .4s;
    -moz-animation: fadein .4s;
    -o-animation: fadein .4s;

}
.invisible{
    display: none;  
}

@keyframes fadein {
    from {
        opacity:0;
        top: 110px;
    }
    to {
        opacity:1;
        top:128px
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        top: 0
    }
    to {
        opacity:1;
        top:20px
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        top: 0
    }
    to {
        opacity:1;
        top:0px
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        top: 0
    }
    to {
        opacity:1;
        top:20px
    }
}