
.dropdown{
    width: 30%;
    min-width: 200px;
}
.selected{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 3em;
    background-color: white;
    padding: 1% 3% 1% 0;
    color:  $primary_black;
    font-size: 1rem;
    border-radius: $dropdown_border_radius_value;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

}

.options{
    min-width: 200px;
    transition: all 2s ease-in-out;
    background: white;
    width: 30%;
    margin-top: .7em;
    border-radius:$dropdown_border_radius_value;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color:  $primary_black;

    div:first-child {
        padding: 2% 3% 1% 0;
        border-radius:$dropdown_border_radius_value $dropdown_border_radius_value 0 0;
    }
    div:last-child {
        padding: 1% 3% 2% 0;
        border-radius:0 0 $dropdown_border_radius_value $dropdown_border_radius_value;
    }
    div {
        padding: 1% 3%;
        height: 30px;
    }
    div:hover{
        background-color: $background_color;
        cursor: pointer;
    }
    
}

.visible{
    position: absolute;
    display: block;
    animation: fadein .4s;
    -moz-animation: fadein .4s;
    -o-animation: fadein .4s;

}
.invisible{
    display: none;  
}
