$primary_black:#5F5D5D;
$background_color: #f4f7fc;
$dropdown_border_radius_value: 15px;
$XS_background-color: #58507E;
$SM_background_color: #798086;
$L_background-color: #2D728F;
$XL_background-color: #93B5C6;